@{
    ViewData["Title"] = "Strona Główna";
}

<h2>Witamy w systemie rezerwacji intencji mszalnych</h2>
<p>Wybierz msze i zarezerwuj intencję.</p>
<a class="btn btn-primary" href="@Url.Action("Index", "Masses")">Przejdź do rezerwacji</a>
