﻿@{
    ViewData["Title"] = "Logowanie";
}

<h2>Zaloguj się</h2>
<p>Aby zarezerwować intencję, musisz się zalogować.</p>

<a class="btn btn-primary" href="@Url.Action("Login", "Account")">
    <i class="fa fa-google"></i> Zaloguj się przez Google
</a>